@mixin text-base {
  font-size: $font-size-base;
  font-weight: $font-weight-normal;
  line-height: $line-height-base;
}

@mixin display-center {
  display: flex;
  justify-content: center;
  align-items: center;
}
